.venv/
__pycache__/
.pytest_cache/
.mypy_cache/
.ruff_cache/
dist/
build/
target/
logs/
dbt_packages/
package-lock.json
.DS_Store
airflow.db
*.pyc
*.log
*.csv
*.jsonl
*.tfstate
*.tfstate.*
terraform.tfvars
profiles.yml
