project_id           = "my-gcp-project"
region               = "us-central1"
raw_bucket_name      = "smart-building-energy-raw"
raw_dataset_id       = "raw_iot_energy"
analytics_dataset_id = "analytics_iot_energy"
artifact_registry_repository_id = "iot-platform"
ingestion_job_name              = "iot-energy-ingestion-job"
ingestion_image                 = "us-central1-docker.pkg.dev/my-gcp-project/iot-platform/iot-ingestion:latest"
composer_environment_name       = "iot-energy-composer"
composer_environment_size       = "ENVIRONMENT_SIZE_SMALL"
composer_image_version          = "composer-2-airflow-2.10.5"
dbt_target_name                 = "dev"
